/**
 * Site header
 */
.site-header {
  border-bottom: $divider-thickness solid $black;
  min-height: auto;  // CHANGED: was $spacing-unit * 2
  padding: $spacing-unit 0;  // CHANGED: was $spacing-unit 0
  position: relative;
}

.site-title {
  @include relative-font-size(1.75);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size;  // CHANGED: was * 1.5

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: $spacing-unit;
    }

    &:hover {
      text-decoration: underline;
    }

    // Active/current page style
    &.active,
    &[aria-current="page"] {
      font-weight: bold;
      border: 3px solid $black;
      padding: 4px 8px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }


  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $text-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit * 1.5 0;
  margin-top: $spacing-unit * 2;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
  font-weight: 700;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 2 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2.5);
  font-weight: 700;
  margin-bottom: $spacing-unit;
}

.post-list-heading {
  @include relative-font-size(2);
  font-weight: 700;
  margin-bottom: $spacing-unit * 0.75;  // CHANGED: was * 1.5
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  font-weight: 700;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit * 1.5;
}

.post-title {
  @include relative-font-size(2.5);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: $spacing-unit * 0.5;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    font-weight: 700;
    margin-top: $spacing-unit * 1.5;
    margin-bottom: $spacing-unit * 0.75;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    font-weight: 700;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 0.5;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    font-weight: 700;
    margin-top: $spacing-unit * 0.75;
    margin-bottom: $spacing-unit * 0.5;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-track img {
  min-width: 100%;
  width: 100%;
  display: block;
  border-radius: 8px;
}

.carousel-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  flex-shrink: 0;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-btn:active {
  background: rgba(0, 0, 0, 0.9);
}

.carousel-slide {
  min-width: 100%;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.carousel-caption {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
  color: #666;
}

.carousel-with-captions .carousel-track {
  display: flex;
}
figcaption.caption {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
