post-item {
  display: block;
  margin-bottom: 3px;
  padding: $spacing-unit * 0.75 0;
  border-bottom: $divider-thickness solid $grey-color-dark;
  
  // &:last-child {
  //   border-bottom: none;
  // }
  
  // Only use flex when image exists
  &:has(img) {
    display: flex;
    gap: $spacing-unit;
    align-items: flex-start;
  }
  
  // Content wrapper
  .content {
    flex: 1;
  }
  
  // Title
  h3 {
    margin-bottom: $spacing-unit * 0.5;
    margin-top: 0;
    @include relative-font-size(1.5);
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-decoration-color: $blue;
    text-underline-offset: 5px;
    
    a {
      color: #000;
      text-decoration: none;
      
      &:visited {
        color: #000;
      }
      
      &:hover {
        color: $blue;
      }
    }
  }
  
  // Summary/excerpt
  p {
    font-style: normal;
    margin-bottom: $spacing-unit * 0.5;
    color: $grey-color-dark;
    line-height: $summary-line-height;
  }
  
  // Date
  time {
    font-size: $small-font-size;
    color: $grey-color;
    display: block;
    font-weight: 400;
  }
  
  // Image
  img {
    width: 200px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border: none;
    
    @include media-query($on-palm) {
      display: none;
    }
  }
  
  // Categories container
  .categories {
    display: flex;
    gap: 12px;
    margin-bottom: $spacing-unit * 0.5;
    flex-wrap: wrap;
  }
  
  // Category badges
  category-badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: $small-font-size;
    font-weight: 700;
    text-transform: uppercase;
    
    &::before {
      content: '';
      display: inline-block;
      flex-shrink: 0;
    }
    
    // Computer Science - blue square
    &[data-category="computer-science"]::before {
      width: 32px;
      height: 32px;
      background-color: $blue;
    }
    
    // GDR - yellow triangle
    &[data-category="gdr"]::before {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 28px solid $yellow;
    }
    
    // Philosophy - red circle
    &[data-category="philosophy"]::before {
      width: 32px;
      height: 32px;
      background-color: $red;
      border-radius: 50%;
    }
  }
}