@charset "utf-8";

// Brutalist variables - override minima defaults
$base-font-family: "Courier New", Courier, monospace !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;  
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;  
$summary-line-height: 1.6 !default;
$divider-thickness: 3px !default;

$spacing-unit: 30px !default;

// bauhaus colors - pure and stark
$black: #261D11;
$white: #fafafa;
$red: #A6290D;
$yellow: #F2B705;
$blue: #0477BF;
$green: #00825a;

$text-color: $black !default;
$background-color: $white !default;
$brand-color: $red !default;  

// Greys use Bauhaus palette
$grey-color: #888888 !default;
$grey-color-light: #BBBBBB !default;  // Very light version of black
$grey-color-dark: #444444 !default;
$table-text-align: left !default;

$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;

// Mixins stay the same
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import brutalist partials
@import
  "bauhaus/base",
  "bauhaus/layout",
  "bauhaus/syntax-highlighting",
  "bauhaus/post-element"
;