@charset "utf-8";

// Brutalist variables - override minima defaults
$base-font-family: "Courier New", Courier, monospace !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;  
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;  // Tighter line height

$spacing-unit: 30px !default;

// Brutalist colors - pure and stark
$text-color: #000 !default;
$background-color: #fff !default;
$brand-color: #ff0000 !default;  // Primary red (Mondrian)

// All greys become black
$grey-color: #000 !default;
$grey-color-light: #000 !default;
$grey-color-dark: #000 !default;

$table-text-align: left !default;

$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;

// Mixins stay the same
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import brutalist partials
@import
  "brutalist/base",
  "brutalist/layout",
  "brutalist/syntax-highlighting",
  "brutalist/post-element"
;