/**
 * Site header
 */
.site-header {
  border-top: 8px solid #000;  // Thick black border
  border-bottom: 4px solid #000;
  min-height: $spacing-unit * 1.865;
  background-color: $mondrian-red;  // Red header
  position: relative;
}

.site-title {
  @include relative-font-size(1.875);
  font-weight: 900;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  float: left;
  text-transform: uppercase;

  &,
  &:visited {
    color: #fff;
    border-bottom: none;
  }
  
  &:hover {
    color: #000;
    background-color: $mondrian-yellow;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    &:not(:last-child) {
      margin-right: 20px;
    }
    
    &:hover {
      color: #000;
      background-color: $mondrian-yellow;
      border-bottom-color: #000;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $mondrian-blue;
    border: 3px solid #000;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: #fff;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;
      color: #fff;

      &:not(:last-child) {
        margin-right: 0;
      }
      
      &:hover {
        background-color: $mondrian-yellow;
        color: #000;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 4px solid #000;
  padding: $spacing-unit 0;
  background-color: $mondrian-blue;
  color: #fff;
}

.footer-heading {
  @include relative-font-size(1.25);
  margin-bottom: $spacing-unit * 0.5;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: #fff;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2.5);
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 5px solid #000;
  padding-bottom: $spacing-unit * 0.25;
}

.post-list-heading {
  @include relative-font-size(2);
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  padding-bottom: $spacing-unit * 0.25;
  margin-bottom: $spacing-unit;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
}

.post-link {
  display: block;
  @include relative-font-size(1.75);
  font-weight: 900;
  text-transform: uppercase;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 5px solid #000;
  padding-bottom: $spacing-unit * 0.5;
}

.post-title {
  @include relative-font-size(3);
  letter-spacing: -0.03em;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;

  @include media-query($on-laptop) {
    @include relative-font-size(2.5);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2.25);
    font-weight: 900;
    text-transform: uppercase;
    border-left: 6px solid $mondrian-red;
    padding-left: $spacing-unit * 0.5;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.875);
    font-weight: 900;
    text-transform: uppercase;
    border-left: 5px solid $mondrian-blue;
    padding-left: $spacing-unit * 0.5;
    margin-top: $spacing-unit * 0.75;

    @include media-query($on-laptop) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.5);
    font-weight: 900;
    text-transform: uppercase;
    border-left: 4px solid $mondrian-yellow;
    padding-left: $spacing-unit * 0.5;
    margin-top: $spacing-unit * 0.5;

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }
}