/**
 * Post Element Component - MINIMAL BRUTALIST
 */

// Base post element
.post-element {
  // Empty base, modifiers add styling
}

// Only use flex when image exists
.post-element:has(.post-element__image) {
  display: flex;
  gap: $spacing-unit;
  align-items: flex-start;
}

// Content wrapper
.post-element__content {
  flex: 1;
}

// Title styles
.post-element__title {
  margin-bottom: $spacing-unit * 0.5;
  margin-top: 0;
  
  @include relative-font-size(1.5);
  font-weight: 700;
  line-height: 1.2;
}

.post-element__link {
  color: #000;  // Pitch black
  text-decoration: none;
  
  &:visited {
    color: #000;  // Pitch black
  }
  
  &:hover {
    text-decoration: underline;
  }
}

// Summary/excerpt styles
.post-element__summary {
  font-style: normal;
  margin-bottom: $spacing-unit * 0.5;
  color: $grey-color-dark;
  line-height: 1.6;
}

// Date styles
.post-element__date {
  font-size: $small-font-size;
  color: $grey-color;
  display: block;
  font-weight: 400;
}

// Image styles
.post-element__image {
  width: 200px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border: none;  // No border on images
}

// Hide images on mobile screens
@include media-query($on-palm) {
  .post-element__image {
    display: none;
  }
}

// List style - 3px between posts
.post-element--list {
  margin-bottom: 3px;  // 3px spacing between posts
  padding: $spacing-unit * 0.75 0;
  border-bottom: 1px solid $grey-color-light;
  
  &:last-child {
    border-bottom: none;
  }
}

// Card style - subtle border and padding
.post-element--card {
  padding: $spacing-unit;
  border: 1px solid $grey-color-light;
  margin-bottom: 3px;  // 3px spacing between posts
  
  &:hover {
    border-color: $text-color;
  }
}