/**
 * Syntax highlighting styles - BRUTALIST
 */
.highlight {
  background: $mondrian-yellow;
  border: 3px solid #000;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $mondrian-yellow;
  }

  // All syntax colors in black or primary colors only
  .c     { color: #000; font-style: normal; font-weight: 700; } // Comment
  .err   { color: #fff; background-color: $mondrian-red; font-weight: 900; } // Error
  .k     { font-weight: 900; color: $mondrian-red; } // Keyword
  .o     { font-weight: 900; color: #000; } // Operator
  .cm    { color: #000; font-style: normal; font-weight: 700; } // Comment.Multiline
  .cp    { color: #000; font-weight: 900; } // Comment.Preproc
  .c1    { color: #000; font-style: normal; font-weight: 700; } // Comment.Single
  .cs    { color: #000; font-weight: 900; font-style: normal; } // Comment.Special
  .gd    { color: #fff; background-color: $mondrian-red; font-weight: 900; } // Generic.Deleted
  .gd .x { color: #fff; background-color: $mondrian-red; font-weight: 900; } // Generic.Deleted.Specific
  .ge    { font-style: normal; font-weight: 900; } // Generic.Emph
  .gr    { color: $mondrian-red; font-weight: 900; } // Generic.Error
  .gh    { color: #000; font-weight: 900; } // Generic.Heading
  .gi    { color: #000; background-color: #fff; font-weight: 700; } // Generic.Inserted
  .gi .x { color: #000; background-color: #fff; font-weight: 700; } // Generic.Inserted.Specific
  .go    { color: #000; font-weight: 700; } // Generic.Output
  .gp    { color: #000; font-weight: 900; } // Generic.Prompt
  .gs    { font-weight: 900; } // Generic.Strong
  .gu    { color: #000; font-weight: 900; } // Generic.Subheading
  .gt    { color: $mondrian-red; font-weight: 900; } // Generic.Traceback
  .kc    { font-weight: 900; color: $mondrian-blue; } // Keyword.Constant
  .kd    { font-weight: 900; color: $mondrian-blue; } // Keyword.Declaration
  .kp    { font-weight: 900; color: $mondrian-blue; } // Keyword.Pseudo
  .kr    { font-weight: 900; color: $mondrian-blue; } // Keyword.Reserved
  .kt    { color: $mondrian-blue; font-weight: 900; } // Keyword.Type
  .m     { color: $mondrian-red; font-weight: 700; } // Literal.Number
  .s     { color: #000; font-weight: 700; } // Literal.String
  .na    { color: $mondrian-blue; font-weight: 700; } // Name.Attribute
  .nb    { color: $mondrian-blue; font-weight: 700; } // Name.Builtin
  .nc    { color: $mondrian-blue; font-weight: 900; } // Name.Class
  .no    { color: $mondrian-red; font-weight: 900; } // Name.Constant
  .ni    { color: #000; font-weight: 700; } // Name.Entity
  .ne    { color: $mondrian-red; font-weight: 900; } // Name.Exception
  .nf    { color: $mondrian-red; font-weight: 900; } // Name.Function
  .nn    { color: #000; font-weight: 900; } // Name.Namespace
  .nt    { color: $mondrian-blue; font-weight: 900; } // Name.Tag
  .nv    { color: #000; font-weight: 700; } // Name.Variable
  .ow    { font-weight: 900; } // Operator.Word
  .w     { color: #000; } // Text.Whitespace
  .mf    { color: $mondrian-red; font-weight: 700; } // Literal.Number.Float
  .mh    { color: $mondrian-red; font-weight: 700; } // Literal.Number.Hex
  .mi    { color: $mondrian-red; font-weight: 700; } // Literal.Number.Integer
  .mo    { color: $mondrian-red; font-weight: 700; } // Literal.Number.Oct
  .sb    { color: #000; font-weight: 700; } // Literal.String.Backtick
  .sc    { color: #000; font-weight: 700; } // Literal.String.Char
  .sd    { color: #000; font-weight: 700; } // Literal.String.Doc
  .s2    { color: #000; font-weight: 700; } // Literal.String.Double
  .se    { color: #000; font-weight: 700; } // Literal.String.Escape
  .sh    { color: #000; font-weight: 700; } // Literal.String.Heredoc
  .si    { color: #000; font-weight: 700; } // Literal.String.Interpol
  .sx    { color: #000; font-weight: 700; } // Literal.String.Other
  .sr    { color: $mondrian-red; font-weight: 700; } // Literal.String.Regex
  .s1    { color: #000; font-weight: 700; } // Literal.String.Single
  .ss    { color: $mondrian-red; font-weight: 700; } // Literal.String.Symbol
  .bp    { color: #000; font-weight: 700; } // Name.Builtin.Pseudo
  .vc    { color: #000; font-weight: 700; } // Name.Variable.Class
  .vg    { color: #000; font-weight: 700; } // Name.Variable.Global
  .vi    { color: #000; font-weight: 700; } // Name.Variable.Instance
  .il    { color: $mondrian-red; font-weight: 700; } // Literal.Number.Integer.Long
}